#firstMap {
 background-color: white;
 cursor: crosshair;
 border-style: dotted;
 float: left; 
}

#legend {
 background-color: white;
 cursor: help;
 border-style: groove;
 width: 150px;
 float: left;
}

#secondMap {
 clear: both;
}

#InfoBox {
  position: absolute;
  height: 125px;
  width: 250px;
  background-color: rgba(0,0,0,0.3);
  border: dotted;
}
